# k8s/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app-deployment   
  namespace: supply-chain    
spec:
  replicas: 1   
  selector: 
    matchLabels: 
      app: my-app
  template:  
    metadata: 
      labels:
        app: my-app
    spec:
      containers:
        - name: my-app-container
          image: devopssahil/my-app:c9d7184b15aab5050fa91bd884ab4b1c1714abb2
          ports:
            - containerPort: 4000   
