# k8s/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app-deployment   
  namespace: supply-chain   
spec:
  replicas: 1   
  selector: 
    matchLabels: 
      app: my-app
  template:  
    metadata: 
      labels:
        app: my-app
    spec:
      containers:
        - name: my-app-container
          image: devopssahil/my-app:05eb5e637d9a8f2e08596bd76788d596b41706a0
          ports:
            - containerPort: 4000   
